<%- include("header.html") %>

<div class="row bg-dark" style="height: 50vh; padding: 7rem;">
    <div class="col-12 text-center  text-white" >
        <h1><%=confirmation%></h1>
    </div>
    <div class="col-12 text-center">
        <button class="btn btn-primary"> <a id="action-btn" style="text-decoration: none; color: white;" href= <%=action%> > <%=actiontxt%></a></button>
    </div>
</div>

<%- include("footer.html") %>